{% unless site.atom_feed.hide %}
  {% assign show_atom = true %}
{% endunless %}
{% assign footer_links = site.footer.links | where_exp: 'l', 'l.url' %}
{% if footer_links and footer_links.size > 0 or show_atom %}
<div class="page__footer-follow">
  <ul class="social-icons">
    {% if footer_links and footer_links.size > 0 %}
      {% for link in footer_links %}
        <li>
          <a href="{{ link.url }}" rel="nofollow noopener noreferrer">
            <i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i>
            {{ link.label | escape_once | strip }}
          </a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</div>
{% endif %}
<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: "BVT Breathwork" }}.
  <span class="footer-credit">Built by Michael Miller.</span>
</div>
